<h2 style="color:#ffffff;text-align:center">Hoş Geldiniz...</h2>

<hr />
<h4 style="color:white">Cari hesap nedir?</h4>
<h5 style="color:white">
    Şirketinizin müşteri ve tedarikçi hesaplarının toplamı cari hesaplarınızdır.
    Cari hesap yönetimiyle alacak ve borç takibi yapabilirsiniz.
</h5>
<h4 style="color:white">Cari hesap yönetiminin önemi nedir?</h4>
<h5 style="color:white">
    Cari hesap takibi yaparak borç ve alacaklarınızı detaylı bir biçimde izleyebilir,
    şirket için gerekli raporlar bu bilgilere dayanarak hazırlanabilir ve olası ihtilaf durumlarında daha kolay mutabakat yapabilirsiniz.
</h5>
<h4 style="color:white">Cari hesap takibini kim yapar?</h4>
<h5 style="color:white">
    Cari hesap takibini işletme sahibi ya da şirket içinde yetkilendirilmiş herhangi bir personel yapabilir.
    Şirketinizin resmi muhasebecisi, esas olarak devlete karşı yükümlülüklerin yerine getirilmesinden sorumludur ve eline ulaşan belgeler geçmişe yönelik olduğu için şirkete güncel durumuna dair bilgi veremez.
</h5>
<h4 style="color:white">Cari hesap takibi nasıl yapılır?</h4>
<h5 style="color:white">
    Pek çok işletme tutulması zorunlu resmi evraklar ile cari hesap takibi yaptığı yanılgısına düşüyor. Ancak bu evraklardan ancak geçmişe dair bilgi almak mümkün.
    Cari hesap takibinden fayda sağlayabilmek için sadece geçmiş bilgileri değil, güncel bilgileri de takip edebilir durumda olmalısınız.
</h5>
<hr />
<div class="container" style="text-align:center">

    <footer style="color:white">
        &copy; @DateTime.Now.Year Tüm Hakları BOT-M de saklıdır.
    </footer>
</div>