
<body style="background-color:#ffffff;text-align:center">
    <img src="~/Images/404SayfaBulunamdı.png" />

    <hr />
    <p style="color:#ffffff">
        Tarayıcınızın adres çubuğunda görüntülenen Web sitesi adresinin doğru yazıldığından
        ve biçimlendirildiğinden emin olun.<br />

        Bu sayfaya bir bağlantıya tıklayarak ulaştıysanız,bağlantının yanlış biçimlendirildiğini
        bildirmek için Web sitesi yöneticisine başvurun. <br />

        Yukarıdaki linkten anasayfaya dönebilirsiniz.
    </p>
</body>